<h1>Log In</h1>
<%= link_to "Back to Pictures", pictures_path %>

<%= form_tag sessions_create_path do %>
<p class="field">
  <%= email_field_tag :email, params[:email] %>
  <%= label_tag :email %><br>
</p>

<p class="field">
  <%= password_field_tag :password, params[:password] %>
  <%= label_tag :password %><br>
</p>

<p class="actions"><%= submit_tag "Log in" %></p>
<% end %>
