<%= link_to("Back to Pictures", pictures_url) %> | <%= link_to("Edit", pictures_edit_path(@picture.id)) %> | <%= link_to("Delete", pictures_show_path(@picture.id), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}) %>

<p><%= @picture.title %>, <%= @picture.artist %></p>
<%= image_tag(@picture.url) %>
